@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);


$sans-stack: lato,
sans;
$back-color: maroon;


@mixin fillframe() {
  display: block;
  position: absolute;
  transition: left 300ms, right 300ms, top 300ms, bottom 300ms;
  @media screen and (min-width: 800px) {
    left: 10%;
    right: 10%;
    top:10%;
    bottom:10%;
    font-size: 24px;
  }
  @media screen and (min-width:376px) and (max-width:800px) {
    left: 10px;
    right: 10px;
    top: 30px;
    bottom:30px;
    font-size: 20px;
  }
  @media screen and (max-width:376px) {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}

body {
  background: ($back-color - #333);
  overflow: hidden;
}

.main {
  @include fillframe();
  background-color: $back-color;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.5);
}

.main:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 100%;
  height: 0;
  border-top: 5px solid ($back-color - #222);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

#media-player{
  display:block;
  position:absolute;
  top:0;
  bottom:64px;
  left:0;
  right:0;
  background-color:$back-color - #252525;
}
#media-video{
  display:block;
  width:100%;height:100%;
  object-fit:contain;
}

.ctrl-box {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 64px;
  bottom: 0;
  margin-top: -5px;
  background: linear-gradient($back-color 0%, $back-color - #111 100%);
  
}

@media screen and (max-width:376px) {
  .ctrl-box{
    position:absolute;
    bottom:0;
  }
  #media-player{
    position:absolute;
    left:0;right:0;
    top:0;bottom:64px;
  }
  #media-video{
    display:block;
    position:absolute;
    left:0;right:0;
    top:0;bottom:0;
    height:100%;
    object-fit:cover;
  }
}

.play {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 7px;
  left: 7px;
  border: none;
  outline: none;
  font-family: $sans-stack;
  color: rgba(250, 250, 250, 0.75);
  background: linear-gradient($back-color + #111 0%, $back-color 100%);
  border-radius: 50%;
  overflow: hidden;
}

.playback {
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-image: url(http://matt.schneideriii.com/resources/avatar-def.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 200ms;
  transform: scale(0);
}

.playfront {
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 5;
}

.data-name {
  font-family: $sans-stack;
  color: rgba(250, 250, 250, 0.75);
  display: block;
  position: absolute;
  left: 64px;
  right: 7px;
  top: 4px;
  height: 32px;
  line-height: 32px;
  font-size: 1em;
  text-decoration: none;
  overflow: hidden;
}

.data-video {
  font-family: $sans-stack;
  color: rgba(250, 250, 250, 0.75);
  display: block;
  position: absolute;
  left: 64px;
  right: 0;
  bottom: 0;
  height: 32px;
  line-height: 32px;
  font-size: 0.8em;
  text-decoration: none;
  overflow: hidden;
}

.play-bar {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgba(250, 250, 250, 0.75);
}
